extends layout

block content
	div.hero-container
		h1.hero-text this is thirty.
		p.hero-description what my thirty looks like through a lens
	div.about-container
		ul.quick-glance-ul
			li.quick-glance-li january
			li.quick-glance-li february
			li.quick-glance-li march
			li.quick-glance-li april
			li.quick-glance-li may
			li.quick-glance-li june
			li.quick-glance-li july
			li.quick-glance-li august
			li.quick-glance-li september
			li.quick-glance-li october
			li.quick-glance-li november
			li.quick-glance-li december
