extends layout

block content
	div.hero-container
		h1.hero-text this is thirty.
		p.hero-description a quick look at the amazing events in my 30th year
	div.about-container
		ul.quick-glance-months
			li january
			li february
			li march
			li april
			li may
			li june
			li july
			li august
			li september
			li october
			li november
			li december

