doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/main.styl')
		link(href='http://fonts.googleapis.com/css?family=Poiret+One|Oleo+Script:400,700|Waiting+for+the+Sunrise', rel='stylesheet', type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
		script(src=script)
	body
		block content
