doctype html
html
	head
		title this is thirty
		link(rel='stylesheet', href='/stylesheets/main.css')
		link(rel='stylesheet', href='/stylesheets/main.styl')
		script(src="/javascripts/landing.js")			
		script(src="/javascripts/main.js")
	body
		block content