extends layout

block content
	div.about-container
		ul.quick-glance-ul
			li.quick-glance-li.home-nav#homeNav &#9829;
			li.quick-glance-li#januaryNav JAN
			li.quick-glance-li#februaryNav FEB
			li.quick-glance-li#marchNav MAR
			li.quick-glance-li#aprilNav APR
			li.quick-glance-li#mayNav MAY
			li.quick-glance-li#juneNav JUN
			li.quick-glance-li#julyNav JUL
			li.quick-glance-li#augustNav AUG
			li.quick-glance-li#septemberNav SEP
			li.quick-glance-li#octoberNav OCT
			li.quick-glance-li#novemberNav NOV
			li.quick-glance-li#decemberNav DEC
		div.marker-container
			div#marker
	div.main-content
		each item in jsonData
			p= item

