body
	font-family helvetica

p, li
	font-size 16px
	
// landing page

.hero-container
	width 100%
	background-color black
	color white

.hero-text, .hero-description
	text-align center

.about-container
	width 100%
	background-color white
	color black

.quick-glance-months
	display block
	text-align center

.quick-glance-months li
	display inline
	padding 20px